body {
	background-color: #cfd0cf;
	text-align: center;
}

.wrapper {
	width: 555px;
	margin: 0 auto;
	font: 42px Arial;
	color: #434344;
}

.memory-cards-field {

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.header{
	margin: 40px;
	line-height: 47px;
}

.memory-card {
	width: 120px;
	height: 120px;
	position: relative;	
	margin-bottom: 25px;
	perspective: 1000px;
}

.front {
	background: linear-gradient(-45deg, #22ab93, #19668d);

}

.back {
	background-color: #ffffff;
	font-size: 80px;
	transform: rotateY(180deg);
}

/*Если transition поставить перед transform у .back, то при загрузке показывает все карточки*/

.front, .back {
	position: absolute;
	width: 100%;
	height: 100%; 
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
	transition: 0.5s;
	border: 5px solid #ffffff;
	border-radius: 9px;
	box-shadow: 0 0 10px #434344;
}

/*Переворот*/
		
.is-flipped .front {
	transform: rotateY(180deg);
}

.is-flipped .back {
	transform: rotateY(360deg);
}

.right-card .back {
	background-color: #5ad66f;
	border-color: #5ad66f;
}

.wrong-card .back {
	background-color: #f44336;
	border-color: #f44336;
}

#modal-win {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
    overflow: auto;
    visibility:hidden;
    opacity: 0;
}
.popup-modal-win {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    width: 350px;
    position: absolute;
    padding: 30px;
    background-color: #fff;
    z-index: 1000;
}

.modal-win-content{
	margin: 0;
	margin-bottom: 30px;
}

.modal-win-button {
	background: linear-gradient(#22ab93, #19668d);
	padding: 10px 30px;
	font: 20px Arial;
	color: #fff;
	border-radius: 9px;
	box-shadow: 1px 1px 1px #434344;
}

.modal-win-button:active {
	box-shadow: inset 2px 1px 8px;
	outline: none !important;
}
